<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">Edit</a>
      <form class="inline" action="<%= file %>/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<p><a href="/new">New Document</a></p>

<% if session[:username] %>
  <form class="user_status" action="/users/signout" method="post">
    <label for="signout_button">Signed in as <%= session[:username] %></label>
    <button id="signout_button" type="submit">Sign Out</button>
  </form>
<% else %>
  <p><a class="user_status" href="/users/signin">Sign In</a></p>
<% end %>